.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top,
.bottom {
  flex: 1;
  background-color: #f7fbfc;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f7fbfc;
}

.loadingContainer {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
}

.loadingContainer h3 {
  margin-bottom: 1rem;
}

.blockPosition {
  width: 20%;
  height: 100%;
  position: relative;
  animation: slideLeft 1s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.blockPosition:first-child {
  position: absolute;
  left: 0;
  animation: slideLeftFirst 1s forwards;
}

@keyframes slideLeftFirst {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.block {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size:  xx-small;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockHeader, .blockBody, .blockFooter {
  padding: 0.7rem;
}

.blockHeader {
  border: 3px solid #769fcd;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #769fcd;
  overflow:hidden;
  color: #fefefe;
}

.blockHeader h3 {
  margin-bottom: 0.5rem;
}

.blockBody {
  font-size: x-small;
}

.transactions {
  font-size: medium;
  margin: 2rem 0 2rem 0;
}

.blockFooter {
  border-top: 1px solid black;
}