.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top,
.bottom {
  flex: 1;
  background-color: #f0f0f0;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f0f0f0;
}

.blockPosition {
  width: 20%;
  height: 100%;
  position: relative;
  animation: slideLeft 1s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.blockPosition:first-child {
  position: absolute;
  left: 0;
  animation: slideLeftFirst 1s forwards;
}

@keyframes slideLeftFirst {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.block {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}